node_modules
dist
build
.turbo
.cache
coverage
*.log
.env
.env.local
.env.prod
uploads
apps/web/dist
.DS_Store
apps/web/dist
apps/api/dist
packages/shared/dist
prisma/*.db
.idea
.vscode/*
!.vscode/extensions.json
